* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #00171f;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    background: #f7f7f7;
    width: 60%;
    max-width: 75%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgb(0, 0, 0);
}

.titulo-container {
    display: block;
    padding: 10px 20px;
    margin: 0 auto 25px auto;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: bold;

    background-color: #007EA7;
    color: #ffffff;
    border-radius: 12px;

    text-align: center;
    box-shadow: 5px 5px 5px #00000062;
}

.subtitulo-container {
    display: block;
    padding: 10px 20px;
    margin: 0 auto 25px auto;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    
    color: #00171f;
    text-align: center;
}

.titulo-modal {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 30x;
    font-size: 15px;

    background-color: #007EA7;
    color: #ffffff;
    border-radius: 8px;

    text-align: center;
    box-shadow: 2px 5px 5px #00000062;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 4px;
    margin-bottom: 1px;
    font-weight: bolder;
    color: #007EA7;
}

input, select {
    margin-top: 0;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    background: #ffffff;
    cursor: pointer;
}

input:focus, select:focus {
    outline: none;
    border-color: #007EA7;
    background: #fcfcfcad;
}

.valor-wrapper {
    display: flex;
    align-items: center;
}

.valor-wrapper span {
    background: rgb(216, 216, 216);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 15%;
}

.valor-wrapper input {
    border-radius: 0 8px 8px 0;
  border-left: none;
}

button {
    width: 100%;
    padding: 15px;
    background: #53e446;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2px 5px 5px #00000071;
}

button:hover {
    background: #309427;
}

#status {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.btn-modal {
    margin-top: 10px;
    top: 30px;
    right: 20px;
    background-color: #015875;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px 5px #00000071;
}

.btn-modal:hover {
   background: #003647;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0a0a34;
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #ffffff;
    padding: 25px;
    border-radius: 5%;
    width: 55%;
    height: 55%;
    box-shadow: 5px 5px 5px #00000071;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.modal-actions {
    display: flex;
    justify-content: space-between;
}

.btn-cancelar {
    margin-top: 10px;
    top: 30px;
    right: 20px;
    background-color: #cf3131;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px 5px #00000071;
}

.btn-cancelar:hover {
   background: #920f0f;
}