* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #00131a;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    background: #f7f7f7;
    width: 75%;
    max-width: 850px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgb(0, 0, 0);
}

.titulo-container {
    display: block;
    padding: 10px 20px;
    margin: 0 auto 25px auto;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;

    background-color: #007EA7;
    color: #ffffff;
    border-radius: 12px;

    text-align: center;
    box-shadow: 5px 5px 5px #00000062;
}

.subtitulo-container {
    display: block;
    padding: 10px 20px;
    margin: 0 auto 25px auto;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    
    color: #00171f;
    text-align: center;
}

.titulo-modal {
    display: block;
    padding: 15px 20px;
    margin-bottom: 25px;
    font-size: 20px;

    background-color: #007EA7;
    color: #ffffff;
    border-radius: 8px;

    text-align: center;
    box-shadow: 2px 5px 5px #00000062;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 4px;
    margin-bottom: 1px;
    font-weight: bolder;
    color: #007EA7;
}

input, select {
    margin-top: 0;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    background: #ffffff;
    cursor: pointer;
}

input:focus, select:focus {
    outline: none;
    border-color: #007EA7;
    background: #fcfcfcad;
}

.valor-wrapper {
    display: flex;
    align-items: center;
}

.valor-wrapper span {
    background: rgb(216, 216, 216);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 15%;
}

.valor-wrapper input {
    border-radius: 0 8px 8px 0;
  border-left: none;
}

button {
    width: 100%;
    padding: 15px;
    background: #53e446;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2px 5px 5px #00000071;
}

button:hover {
    background: #309427;
}

#status, #status-1 {
    text-align: center;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

.btn-modal {
    margin-top: 10px;
    top: 30px;
    right: 20px;
    background-color: #015875;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px 5px #00000071;
}

.btn-modal:hover {
   background: #003647;
}

.btn-salvar {
    margin-top: 10px;
    top: 30px;
    right: 20px;
    background-color: #33c04a;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px 5px #00000071;
}

.btn-salvar:hover {
   background: #128025;
}

.loading-img {
    width: 20px;
    height: 20px;
    display: none;
}

button.loading {
    pointer-events: none;
    opacity: 0.8;
    background: none;
    border: 2px solid #33c04a;
    box-shadow: none;
}

button.loading .texto-btn {
    display: none;
}

button.loading .loading-img {
    display: inline-block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px;
    background: #0a0a0a34;
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-sizing: border-box;
    pointer-events: auto;
}

body.moda-open {
    overflow: hidden;
}


.modal-content {
    position: relative;
    background: #ffffff;
    padding: 25px;
    padding-top: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;

    max-height: 90vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px #00000071;
    gap: 5px;
    z-index: 1;
}


.botoes-modal {
    position: sticky;
    bottom: 0;
    padding-top: 15px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-cancelar {
    top: 30px;
    right: 20px;
    background-color: #cf3131;
    color: #ffffff;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px 5px #00000071;
}

.btn-cancelar:hover {
   background: #920f0f;
}

.btn-exportar {
    top: 30px;
    right: 20px;
    background-color: #33c04a;
    color: #ffffff;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px 5px #00000071;
}

.btn-exportar:hover {
   background: #128025;
}

.btn-cancelar,
.btn-exportar {
    flex: 1;
    width: auto;
}

@media (max-width: 480px) {
    .botoes-modal {
        flex-direction: column;
    }

    .btn-cancelar,
    .btn-exportar {
        width: 100%;
    }
}

.divisor-container {
    border: none;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        #007EA7,
        transparent
    );
    
    margin: 5px 0 5px 0;
}

.divisor-modal {
    border: none;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        #007EA7,
        transparent
    );
    
    margin: -5px 0 0px 0;
}

/*
    === ADMIN CONSOLE (STATUS: INATIVO)
    Suspenso por alta complexidade e desvio de
    atenção.


/*.btn-admin {
    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: #ffffff00;
    border: 1px solid #ffffff;

    font-size: 12px;
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    opacity: 0.5;

    position: fixed;
    top: -5px;
    right: 3px;

    z-index: 1000;
}

.btn-admin:hover {
    opacity: 0.9;
    border-color: #ffffff;
    background: #ffffff00;
}

#console-login input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.modal-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    z-index: 2;
}

#btn-confirmar-admin {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.close-admin {
    position: absolute;
    top: -15px;
    right: -10px;

    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #cf3131;
    font-size: 20px;

    background: #ffffff;
    border: 2px solid #cf3131;
    border-radius: 50%;

    cursor: pointer;

    z-index: 10;
}

.close-admin:hover {
    background: #cf3131;
    color: #ffffff;
}

#console-output {
    background: #ffffff;
    font-family: monospace;
    padding: 12px;
    height: 150px;
    overflow-y: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

#console-output input {
    background: #060f13;
    color: #ffffff;
    height: 50px;
}

.hidden {
    display: none;
}